@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@layer utilities{
  .cursorspan{
    @apply w-4 h-4 -translate-x-1/2 -translate-y-1/2 z-[999] pointer-events-none fixed   bg-orange-500 rounded-full;
    animation: scaleIn 0.9s infinite cubic-bezier(0.2, 0, 1.0, 0.7) alternate;
     
  }
 .beforetext::before{
         font-family: "Roboto", sans-serif;
    position: absolute;
  
   
   color: transparent;
   -webkit-text-stroke: 2px rgba(185, 182, 182, 0.477);
    font-size: 120px;
    top:-50px;
    left: -80px;
    z-index: -1;
  }
  
}


@theme inline{
    --animate-bglayer:bglayer 14s ease-in-out infinite alternate;
    --animate-view:view 0.8s ease-in-out ;
    
}

body{
    width: 100vw;
    overflow-x:hidden;
}

.secondarynav::before{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
content:'';
z-index: -1;
background-color: var(--color-orange-600);
}


@keyframes scaleIn {
  0% { transform: scale(0.7); }
  25% { transform: scale(1.0); }
  40%{
    transform: scale(1.2);
  }
    60%{
    transform: scale(0.0);
  }
  100%{
    transform: scale(1.0);
  }
}

@keyframes bglayer {
  0% {
   top:-40%;
  }
  20%{
    top:-40%; }
  80% {
    top:110%;
  }
  100%{
    top:110%;
  }
}

@keyframes view{
    0%{
        transform: rotateX(90deg);
    }100%{
        transform: rotateX(0deg);
    }
}



::selection{
 
  background-color: transparent;
}